 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


 /* Styles below were copied from HTML file that came in starter pack for this project. */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   height: 100vh;
 }

 .author-info {
   font-size: 14px;
   text-align: center;
   margin-top: 16px;
   color: rgb(55, 65, 81);
 }

 .author-info a {
   text-decoration: none;
 }

 /* Styles that I am adding/creating are below. */
 main {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   font-family: "Inter", sans-serif;
   color: 030616;
 }

 .title {
   width: 100%;
   height: 30vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #FFFFFF;
 }

 h1 {
   font-size: 36px;
   font-weight: 600;
   margin-bottom: 10px;
 }

 h2 {
   font-size: 24px;
   font-weight: 24px;
 }

 p {
   font-size: 16px;
   font-weight: 400;
 }

 .questions {
   background-color: #F8FAFC;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .question {
   width: 35%;
 }

 .question:first-child {
   border-bottom: 1px solid #D2D5DA;
 }

 .question h2 {
   font-size: 24px;
   font-weight: 600;
   margin: 40px 0;
 }

 .question p {
   font-size: 16px;
   font-weight: 400;
   margin: 20px 0;
 }

 .question ul {
   font-size: 16px;
   font-weight: 400;
   padding-left: 20px;
   margin: 30px 0;
 }

 .question ol {
   font-size: 16px;
   font-weight: 400;
   padding-left: 20px;
   margin: 30px 0;
 }

 .question li {
   font-size: 16px;
   font-weight: 400;
   margin: 15px;
 }

 a {
   color: #4E80EE;
   text-decoration: none;
 }